.signup-header{
    font-size: 30px;
    margin-bottom: auto;
    padding-left: 20px;
    color: #313244;
    text-align: center;
}

.signup-container{
    width: 30%;
    height: auto;
    font-family: Poppins;
    font-weight: bold;
    background-color: white;
    border-radius: 7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 50px;
    margin: auto;
}

.input-box{
  position: absolute;
  align-items: center;
  padding: 0;
}

.input-field input{
  width: 100%;
  border: 1px solid #313244; 
  box-sizing: border-box; 
  border-radius: 8px; 
  height: 43px;
  padding-left: 40px;
  margin-right: 0;
}

.input-field .icon{
  position: absolute;
  left: 65px;
  transform: translateY(-140%);
}

.input-field{
  margin-top: 20px;
  width: 100%;
}

.signup-container form{
  margin: 0;
}


/* .input-field label{
    display: contents;
} */


a{
    text-decoration: none;
}

.button-signup {
  width: 100%;
  background: #313244;
  border: 1px solid #313244;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 16px;
  /* margin-top: 50px; */
}

#pwmessage{
    color: #222433;
    font-size: 13px;
    margin: auto;
    display: inline-block;
}

.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* @media(max-width:768px){
  .footer-content{
    position: absolute;
  }
}



@media only screen and (max-width: 1024px) {
    .signup-container {
      width: 40%;
    }
}
  
  @media only screen and (max-width: 768px) {
    .header{
      height: 38px;
    }
    .signup-container {
      width: 65%;
    }

} */


/* @media(max-width: 767px){
  .footer-content{
    width: 50%;
  }
} */