/* .subs-container{
    margin: 0;
} */

body {
    min-height: 114vh;
}

.subs-img img{
    margin: 10px;
    width: 50% ;
    float: left;
}

.subs-container{
    width: 30%;
    height: auto;
    font-family: Poppins;
    font-weight: bold;
    background-color: white;
    border-radius: 7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px 30px 20px 30px;
    margin: auto;
    float: right;
}


.input-field input{
    width: 100%;
    border: 1px solid black; 
    box-sizing: border-box; 
    border-radius: 8px; 
    height: 43px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Poppins;
}


.input-field-radio{
    font-size: 15px;
    font-weight: lighter;
    width: 50px;
    height: 25px;
    margin-top: 35px;
    margin-left:0px;
    border-radius: 5px;
    display: inline;
}

.subs-header{
    text-align: center;
}

.input-field label{
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.input-field-radio label{
    display: block;
    font-size: 15px;
    font-weight: bold;
}


.submit-btn:hover {
    background-color: #222433;
    cursor: pointer;
}

.submit-btn{
    width: 100%;
    background: #313244;
    border: 1px solid #313244;
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 35px;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media only screen and (max-width: 1024px) {
    .login-container {
      width: 40%;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .header{
      height: 38px;
    }
    .login-container {
      width: 65%;
    }
  }