.subs-container{
    margin: 0;
}

.subs-img img{
    margin: 20px;
    width: 600px ;
    margin-right: 20px;
}

.subs-container form{
    border: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 12px;
}

form h1{
    text-align: center;
}

.input-field label{
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.input-field input{
    margin: 2px;
    position: static;
    width: 354px;
    height: 40px;
    left: 0px;
    top: 40px;
    background-color: transparent;
    border: 1px solid #313244;
    box-sizing: border-box;
    border-radius: 8px;
}

.input-field-flex{
    display: flex;
    gap: 15px;
}

.input-field-flex select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.submit-btn:hover {
    background-color: #222433;
    cursor: pointer;
}

.submit-btn{
    align-items: center;
    text-align: center;
    width: 350px;
    height: 40px;
    margin-top: 30px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    background-color: #313244;
    color: white;
    font-size: 18px;
    font-weight: bold;  
    font-family: Poppins; 
}